@model PSMDataManagerMVC.Models.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="accordion container-fluid p-0 m-0" id="accordionExample">
    <div class="card">
        <div class="card-header btn btn-link collapsed bg-darkred p-2 m-0 text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="headingOne" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace", data-ajax-udpate="#loadProds" href="/Product/LoadAllProducts">
            <h2 class="w-100 text-white text-left">
                All products <i class="fa fa-chevron-down float-right"></i>
            </h2>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body" id="loadProds">  
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-darkred p-2 m-0">
            <div class="row p-0 m-0 collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="headingTwo">
                <h2 class="text-white text-left w-100">
                    Products by brands <i class="fa fa-chevron-down float-right"></i>
                </h2>
            </div>

            <div class="row d-block m-0">
                @foreach (var item in Model.Brands.Brands)
                {
                    @Html.Partial("_BrandsPartial", item)
                }
            </div>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body" id="productsOfBrand">
                @*@Html.Partial("_GeneralProductsPartial", Model.Products)*@
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-darkred p-2 m-0">
            <div class="row p-0 m-0 collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="headingThree">
                <h2 class="text-decoration-none w-100 text-white text-left">
                    Products by categories<i class="fa fa-chevron-down float-right"></i>
                </h2>
            </div>

            <div class="row d-block m-0">
                @foreach (var item in Model.Categories.Categories)
                {
                    @Html.Partial("_CategoriesPartial", item)
                }
            </div>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body" id="productsOfCategory">
            </div>
        </div>
    </div>

    <div class="btn btn-success plus" data-toggle="modal" data-target="#exampleModalCenter">
        <p class="h3"> + </p>
    </div>
</section>

@{  
    var obj = new PSMDataManagerMVC.Library.Models.ProductModel();
}
@* @Html.Partial("_NewProduct", obj) *@

