@model PSMDataManagerMVC.Library.Models.ProductModel
<div style="height: 150px; width: 150px; background-color: darkgreen; color: white; padding: 3px; margin: 10px;">
    <p>Nazwa: @Html.DisplayFor(m => m.Name)</p>
    <p>Opis: @Html.DisplayFor(m => m.Description)</p>
    @*<p>Dostępne warianty: @Html.DisplayFor(m => m.VariantsCount)</p>*@
</div>
